@import "tailwindcss";

@layer base {
}

@layer components {
}

@layer utilities {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
  
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.grecaptcha-badge { 
  visibility: visible !important;
}