---
import { Icon } from 'astro-icon/components';
const currentYear = new Date().getFullYear();
---
<footer class="bg-white/50 border-t border-gray-200/50 p-4 mt-auto">
  <div class="container mx-auto text-center text-gray-600">
    <div class="flex justify-center space-x-6 mb-4">
      <a href="https://github.com/faisaldurbaa" target="_blank" rel="noopener noreferrer" aria-label="GitHub Profile">
        <Icon name="mdi:github" class="w-6 h-6 text-gray-600 hover:text-accent transition-colors" />
      </a>
      <a href="https://www.linkedin.com/in/faisaldurbaa/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn Profile">
        <Icon name="mdi:linkedin" class="w-6 h-6 text-gray-600 hover:text-accent transition-colors" />
      </a>
    </div>
    <p>© {currentYear} Faisal Durbaa. All rights reserved.</p>
  </div>
</footer>
