---
import { ViewTransitions } from 'astro:transitions';
import Seo, { type Props as SeoProps } from '../components/Seo.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Analytics from '../components/Analytics.astro';

interface Props {
  seo: SeoProps;
}

const { seo } = Astro.props;
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <Seo {...seo} />
  <ViewTransitions />
  <Analytics />
</head>
<body class="bg-gradient-to-br from-[#eaf2f7] via-[#f5f8fa] to-[#eaf2f7] text-gray-900 font-sans flex flex-col min-h-screen">
  <Header />
  <main class="flex-grow pt-20">
    <slot />
  </main>
  <Footer />
</body>
</html>